<!DOCTYPE html>
<html lang="en" style="background-color: #f9f9f9;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="icon" href="https://img.icons8.com/material-two-tone/24/000000/puzzle--v1.png" type="image/x-icon">
    <title>Small</title>
</head>
<body style="background-color: #f9f9f9;">
    <header style="text-align:center; z-index: 1; position: sticky; top: 0; ">
        <div id="logo" style="padding: 280px 20px 10px;"><a href="/" class="logo" style="font: 900 49px asap,arial; color:#0186da; text-shadow: 0 2px 2px #ddd; "><%= text %></a></div>
    </header>
    
</div>

<script>
    
</script>

</body>
</html>